<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <!-- <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button> -->
      <ion-button (click)="dismissModal()">
        dismiss
      </ion-button>
    </ion-buttons>
    <ion-title>create cow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formHolder">
    <form [formGroup]="cowForm" (ngSubmit)="createCow()" >

      <ion-item fill="solid" class="ion-margin-botton">
        <ion-label position="floating">Cow Name</ion-label>
        <ion-input type="text" placeholder="name" formControlName="name"></ion-input>
        <ion-note slot="error" *ngIf="(name.dirty || name.touched) &&  name.errors ">name Invalid</ion-note>
      </ion-item>

      <ion-item fill="solid" class="ion-margin-botton">
        <ion-label position="floating"> Cow tag no.</ion-label>
        <ion-input type="text" placeholder="" formControlName="tag_no"></ion-input>
        <ion-note slot="error" *ngIf="(tag_no.dirty || tag_no.touched) &&  tag_no.errors ">tag_no Invalid</ion-note>
      </ion-item>

      <ion-item fill="solid" class="ion-margin-botton">
        <ion-label position="floating">Date of Birth</ion-label>
        <ion-input type="Date" placeholder="" formControlName="DOB"></ion-input>
        <ion-note slot="error" *ngIf="(DOB.dirty || DOB.touched) &&  DOB.errors ">D.O.B Invalid</ion-note>
      </ion-item>

      <ion-item fill="solid" class="ion-margin-botton">
        <ion-label position="floating">Breed</ion-label>
        <ion-input type="text" placeholder="" formControlName="breed"></ion-input>
        <ion-note slot="error" *ngIf="(breed.dirty || breed.touched) &&  breed.errors ">breed Invalid</ion-note>
      </ion-item>

      <ion-item>
        <ion-label > State of the animal</ion-label>
        <ion-select formControlName="isHeifer" placeholder="" (ionChange)="reset()">
          <ion-select-option value="isHeifer">is Heifer</ion-select-option>
          <ion-select-option value="isCow">is Cow</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- if cow -->
      <ion-item *ngIf="isCow"> 
        <ion-label > Has the cow been served/inseminated </ion-label>
        <ion-select formControlName="isServed" placeholder="" (ionChange)="reset()">
          <ion-select-option value="true">Yes</ion-select-option>
          <ion-select-option value="false">No</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- if heifer -->
      <ion-item *ngIf="izHeifer"> 
        <ion-label > is the heifer showing signs of heat? </ion-label>
        <ion-select formControlName="isShowingHeat" placeholder="" (ionChange)="reset()">
          <ion-select-option value="true">Yes</ion-select-option>
          <ion-select-option value="false">No</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item fill="solid" class="ion-margin-botton">
        <ion-label position="floating">Color</ion-label>
        <ion-input type="text" placeholder=" " formControlName="color"></ion-input>
        <ion-note slot="error" *ngIf="(color.dirty || color.touched) &&  color.errors ">color Invalid</ion-note>
      </ion-item> 

      

      <ion-item fill="solid" class="ion-margin-botton">
        <ion-label position="floating">County</ion-label>
        <ion-input type="text" placeholder=" " formControlName="county"></ion-input>
        <ion-note slot="error" *ngIf="(county.dirty || county.touched) &&  county.errors ">county Invalid</ion-note>
      </ion-item>

      <ion-item fill="solid" class="ion-margin-botton">
        <ion-label position="floating">Current Manager Details</ion-label>
        <ion-textarea type="text" placeholder=" " formControlName="currentManager"></ion-textarea>
        <ion-note slot="error" *ngIf="(currentManager.dirty || currentManager.touched) &&  currentManager.errors ">currentManager Invalid</ion-note>
      </ion-item>

      
      <ion-footer collapse="fade">
        <ion-toolbar class="bottom">
          <ion-button expand="full" type="submit" [disabled]="!cowForm.valid">submit</ion-button>
        </ion-toolbar>
      </ion-footer>

    </form>
  </div>
</ion-content>
