<ion-header>
  <ion-toolbar>
    <ion-title>Farmer Education</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>The management practices in a herd of dairy cows can be split into 4 periods. </ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
After first calving, the dairy cow at any one time will be any two of the following periods/Status: <br>
1) Service period (SP) – Period between calving to conception. <br>
2) Gestation period (GP) - Period between conceptions to calving <br>
3) Lactation period (LP) - Period between calving to drying <br>
4) Dry period (DP) - Period from drying to next calving. <br>
 Service period: From calving to successful conception (45-90days). 
During this period, the main management practices are heat detection and successful mating (natural or artificial).
Heat detection: • An extremely important exercise as a missed heat translates into a wasted 21 days. • Several methods are used to detect heat. The most commonly used by farmers are behavioral signs and physical changes.

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="information-outline" slot="start"></ion-icon>
      <ion-label>Behavior of animal:
      </ion-label>
      
    </ion-item>
  
    <ion-card-content> <br>
      a) Bellowing <br>
      b) Aggressiveness <br>
      c) Sudden drop in milk yield <br>
      d) Restlessness and show interest in bulls if they are around<br>
      e) ‘Flehmen Lip Curl’  <br>
      f) Attempts to mount other cows <br>
      g) Standing to be mounted<br>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="information-outline" slot="start"></ion-icon>
      <ion-label>Physical changes:
      </ion-label>
      
    </ion-item>
  
    <ion-card-content> <br>
      a) Reddened and enlarged vulva lips <br>
      b) Clear mucous discharge from the vulva <br>
     
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="information-outline" slot="start"></ion-icon>
      <ion-label> Signs that cow has been mounted:
      </ion-label>
      
    </ion-item>
  
    <ion-card-content> <br>
      Dirty rump and flanks <br>
      – Ruffled hair on the tail head. Sometimes patches of hair are removed and area may be bleeding <br>
       – Streaks of saliva or signs of leaking on her flanks by her herd mates. <br> <br>
      After noting signs of heat….
      Temperature changes (body): 
      temp tends to drop 1-2 days before estrus and rise to a temporary peak on day of estrous. These can be detected in milk using sensors
      
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Note: </ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
      • Animal with nutritional deficiencies (e.g. Calcium and Phosphorous mainly during the dry season) may exhibit silent heat (no behavioral signs), which can be detected by vasectomized or intact bulls during natural service. <br>
      • Heat should be checked three times a day.
     
      <h3>Estrus synchronization
      </h3>

      • Sometimes, it is desirable for a group of animals to calve at the same time.
      • The animals should therefore come on heat at the same time….For more information consult your vet.
     
    </ion-card-content>
  </ion-card>
  
</ion-content>
