<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>My cows</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>Manage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="nutrition-outline"></ion-icon>
      <ion-label>Market Resources</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Farmer Education</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
