<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Market Resources:
       https://www.jotoalert.web.app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      The main aim of keeping cattle by men is to convert less valuable products (feedstuff) into valuable products like milk and meat, at a profit. <br>
The feeding of dairy cattle is a very important aspect of the whole dairy enterprise, as good milk production will only be realized with a properly fed dairy cow. <br> <br>

-Concentrates like- Wheat/maize Bran, maize meal. etc are some of the resources to be bought for flushing- The practice of increasing nutrient intake and body condition prior to and during breeding
- Mineral powder/Salt –Mineral supplements for heat enhancement in heifers and cows
- Protein Resources- Dairy meal, fish meal, Bone meal, Groundnuts cake, Sunflower cake etc- This are some of resources required when STEAMING UP- the
 feeding of a pregnant cow with a high plane of nutrition 6 to 8 weeks before calving/ giving birth. <br> <br>

 Other resources to be bought for this purpose is. <br>
-Animatic Calcium- Syrup to provide required magnesium and Calcium to cow before calving of giving birth. <br>
- Licking mineral lock- Mineral lock to supplement different minerals in animal body like calcium, magnesium, Zink, Iron etc <br>
- In dairy cow management for a cow to be on heat needs deworming <br> <br>
Resources like- Nilzan, Ivomic. Gandle Albedazole 10% etc are used <br>
-Weight tape-is used in weight recording for cows. <br>
-Long acting antibiotics for drying cows <br>
-Foe proper management of cow health resources like <br>
-Thermometer are required for taking temperature record. <br>
-Pregnancy test kit- for conception test. <br>
NOTE
If famer decides to keep breeding resources.
Then Liquid Nitrogen and Semen are purchased every now and then.


    </ion-card-content>
  </ion-card>
</ion-content>
